main {
	form {
		input, select {
			border: none;
			border-bottom: thin solid var(--bs-gray-700);
			outline: none;
			background: none;

			&:disabled {
				border-bottom-color: var(--bs-gray-500);
			}

			&:focus {
				border-bottom-color: var(--bs-primary);
			}
		}
	}

	@import 'main/card';
}
