<!doctype html>
<html>
<head>
	<title>{$title}</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="/resources/css/tournament_system.css" integrity="" crossorigin="anonymous"/>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
		  integrity="sha256-sAcc18zvMnaJZrNT4v8J0T4HqzEUiUTlVFgDIywjQek=" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
			integrity="sha256-5aErhPlUPVujIxg3wvJGdWNAWqZqWCtvxACYX4XfSa0=" crossorigin="anonymous"></script>

	{if $_SERVER['REQUEST_METHOD'] == 'POST'}
		<script src="/resources/js/post-method-replace-state.js" integrity="" crossorigin="anonymous"></script>
	{/if}

	{$head}
</head>
<body>
	<header class="navbar navbar-dark bg-primary">
		<div class="container-xxl">
			<a href="/" class="navbar-brand py-1">{$logo|noescape}</a>
			<span class="navbar-text mx-auto my-1 fs-4 text-light">{$title}</span>
		</div>
	</header>
	<main id="{$type}" class="container-lg py-4">
		{$body|noescape}
	</main>
	<footer></footer>
</body>
</html>
